timm==1.0.7
thop efficientnet_pytorch==0.7.1
einops grad-cam==1.4.8
dill==0.3.6
albumentations==1.4.11
pytorch_wavelets==1.3.0 tidecv PyWavelets -i https://pypi.tuna.tsinghua.edu.cn/simple
psutil==6.0.0